{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<form action="/quote" method="post">
    <div class="mb-3">
        {{message}}
        <br>
        Enter Symbol
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="symbol" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Quote</button>
</form>
<div>
    {% if display == 1 %}
        ( {{ symbol }} ) - {{ name }}
        <br>
        Latest price : {{ price }}
    {% endif %}
</div>
{% endblock %}
